<%- include header %>
		<!-- middle-content -->
		<div class="container middle-content">
			<div class="row">
				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li><a href="/">主页</a></li>
					<li class="active">书籍列表</li>
				</ol>
				<!-- login -->
				<div class="col-md-4">
					<div class="panel panel-info">
						<div class="panel-heading">书籍分类 - Categories</div>
						<div class="panel-body">
							<ul>
								<li>分类1
									<ul>
										<li>小分类1</li>
										<li>小分类2</li>
									</ul>
								</li>
								<li>分类2</li>
								<li>分类3</li>
								<li>分类4</li>
							</ul>
						</div><!-- /.panel-body -->
					</div><!-- /.panel -->
					<div class="panel panel-info">
						<div class="panel-heading"><span class="glyphicon glyphicon-tags"></span> 标签排名 - Top Tags</div>
						<div class="panel-body">
							<p>
								
								<a href="#"><span class="glyphicon glyphicon-tag"></span>标签1</a>
								<a href="#"><span class="glyphicon glyphicon-tag"></span>标签2</a>
								<a href="#"><span class="glyphicon glyphicon-tag"></span>标签3</a>
								<a href="#"><span class="glyphicon glyphicon-tag"></span>标签4</a>
								<a href="#"><span class="glyphicon glyphicon-tag"></span>标签5</a>
							</p>
						</div><!-- /.panel-body -->
					</div><!-- /.panel -->
<%- include recommend %>
				</div><!-- /.col-md-4 -->
				<!-- 404 -->
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-body">


							<!-- 一本书从这里开始 -->
							<div class="media bl-book">
								<a class="media-left media-left" href="#">
									<img src="/images/no-image_64x64.jpg" alt="" width="128" height="128" />
								</a>
								<div class="media-body">
									<h3 class="media-heading"><a href="/book/123">书籍名字</a> ~ <span class="label label-success">5 本可借</span></h4>
									作者：<a href="#">kenneth</a><br />
									类别：<a href="#">文学</a><br />
									简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate alias a, iure dicta officiis earum quibusdam mollitia culpa nesciunt delectus, quas eaque debitis magni cumque odit. Aspernatur, earum beatae.
								</div>
							</div>
							<hr /><!-- 到这里结束 -->



							<!-- 一本书从这里开始 -->
							<div class="media bl-book">
								<a class="media-left media-left" href="#">
									<img src="images/no-image_64x64.jpg" alt="" width="128" height="128" />
								</a>
								<div class="media-body">
									<h3 class="media-heading"><a href="#">书籍名字</a> ~ <span class="label label-success">5 本可借</span></h4>
									作者：<a href="#">kenneth</a><br />
									类别：<a href="#">文学</a><br />
									简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate alias a, iure dicta officiis earum quibusdam mollitia culpa nesciunt delectus, quas eaque debitis magni cumque odit. Aspernatur, earum beatae.
								</div>
							</div>
							<hr /><!-- 到这里结束 -->
							<!-- 一本书从这里开始 -->
							<div class="media bl-book">
								<a class="media-left media-left" href="#">
									<img src="images/no-image_64x64.jpg" alt="" width="128" height="128" />
								</a>
								<div class="media-body">
									<h3 class="media-heading"><a href="#">书籍名字</a> ~ <span class="label label-warning">1 本可借</span></h4>
									作者：<a href="#">kenneth</a><br />
									类别：<a href="#">文学</a><br />
									简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate alias a, iure dicta officiis earum quibusdam mollitia culpa nesciunt delectus, quas eaque debitis magni cumque odit. Aspernatur, earum beatae.
								</div>
							</div>
							<hr /><!-- 到这里结束 -->
							<!-- 一本书从这里开始 -->
							<div class="media bl-book">
								<a class="media-left media-left" href="#">
									<img src="images/no-image_64x64.jpg" alt="" width="128" height="128" />
								</a>
								<div class="media-body">
									<h3 class="media-heading"><a href="#">书籍名字</a> ~ <span class="label label-default">暂不外借</span></h4>
									作者：<a href="#">kenneth</a><br />
									类别：<a href="#">文学</a><br />
									简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate alias a, iure dicta officiis earum quibusdam mollitia culpa nesciunt delectus, quas eaque debitis magni cumque odit. Aspernatur, earum beatae.
								</div>
							</div>
							<hr /><!-- 到这里结束 -->
							<!-- 一本书从这里开始 -->
							<div class="media bl-book">
								<a class="media-left media-left" href="#">
									<img src="images/no-image_64x64.jpg" alt="" width="128" height="128" />
								</a>
								<div class="media-body">
									<h3 class="media-heading"><a href="#">书籍名字</a> ~ <span class="label label-danger">已经借完</span></h4>
									作者：<a href="#">kenneth</a><br />
									类别：<a href="#">文学</a><br />
									简介：Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptate alias a, iure dicta officiis earum quibusdam mollitia culpa nesciunt delectus, quas eaque debitis magni cumque odit. Aspernatur, earum beatae.
								</div>
							</div>
							<hr /><!-- 到这里结束 -->
							<!-- 分页 -->
							<nav class="text-center">
								<ul class="pagination">
									<li><a href="#">&laquo;&nbsp;&nbsp;上一页</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">...</a></li>
									<li><a href="#">40</a></li>
									<li><a href="#">41</a></li>
									<li><a href="#">下一页&nbsp;&nbsp;&raquo;</a></li>
								</ul>
							</nav>
						</div><!-- /.panel-body -->
					</div>
				</div>
			</div><!-- /.row -->
		</div><!-- /.middle-content -->
<%- include footer %>