
		<!-- footer -->
		<footer class="jsbook-footer" role="contentinfo">
			<div class="container text-center">
				<p>Front by <a href="http://weibo.cn/kenslife" target="_blank">@Kenneth</a>, System by <a href="http://weibo.cn/kenslife" target="_blank">@Sherylynn</a>.</p>
				<p>前端使用 Bootstrap 快速开发，<a href="http://www.bootcss.com/" target="_blank">Bootstrap中文网</a>。</p>
				<p>后台使用 NodeJs 强力驱动</p>
				<p></p>
				<p>当前版本：v0.0.1 · <a href="http://www.bootcss.com/" target="_blank">GitHub 代码仓库</a> · <a href="http://www.bootcss.com/" target="_blank">使用手册</a> · <a href="http://www.bootcss.com/" target="_blank">关于开发者</a> · <a href="http://www.bootcss.com/" target="_blank">讨论组</a>
				</p>
			</div>
		</footer><!-- /.footer -->

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 
		<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/javascript.js"></script>
	</body>
</html>