<%- include header %>

		<!-- middle-content -->
		<div class="container middle-content">
			<div class="row">
				<!-- left sidebar -->
				<div class="col-md-4 jsbook-sidebar">
					<!-- search bar by form -->
					<form role="search">
						<div class="form-group">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Book Search">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</div>
					</form><!-- /form -->

					
<%- include login-form %>


<%- include recommend %>
				</div><!-- /.jsbook-sidebar -->
				<div class="col-md-8 jsbook-content">
					<div class="jumbotron">
						<h1>欢迎使用！</h1>
						<p>这是一款简洁、高端、大气、上档次的图书管理系统，该系统使用起来简洁便利，是一款高效易用的图书管理系统。</p>
						<p class="text-right"><a href="#" class="btn btn-primary btn-lg" role="button">关于我们</a></p>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="thumbnail">
								<img src="images/no-image_64x64.jpg" alt="..." width="100%">
								<div class="caption text-center">
									<h3>高端</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero cupiditate quas quae ea asperiores officia labore.</p>
									<p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Others</a></p>
								</div>
							</div>
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<div class="thumbnail">
								<img src="images/no-image_64x64.jpg" alt="..." width="100%">
								<div class="caption text-center">
									<h3>大气</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero cupiditate quas quae ea asperiores officia labore.</p>
									<p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Others</a></p>
								</div>
							</div>
						</div><!-- /.col-md-4 -->
						<div class="col-md-4">
							<div class="thumbnail">
								<img src="images/no-image_64x64.jpg" alt="..." width="100%">
								<div class="caption text-center">
									<h3>上档次</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, vero cupiditate quas quae ea asperiores officia labore.</p>
									<p><a href="#" class="btn btn-primary" role="button">Details</a> <a href="#" class="btn btn-default" role="button">Others</a></p>
								</div>
							</div>
						</div><!-- /.col-md-4 -->
					</div><!-- /.row -->
				</div><!-- /.jsbook-content -->
			</div><!-- /.row -->
		</div><!-- /.middle-content -->

<%- include footer %>