					
					<!-- recommended books panel -->
					<div class="panel panel-default">
						<div class="panel-heading">书目推荐 - Recommended Books</div>
						<div class="panel-body rb-list">
							<div class="media">
								<a href="#" class="media-left"><img src="/images/no-image_64x64.jpg" alt=""></a>
								<div class="media-body">
									<h4 class="media-heading">演员的自我修养<small>珍藏版</small></h4>
									作者：斯坦尼斯拉夫斯基<br />
									状态：<span class="label label-success">4 本可借</span>
								</div>
							</div>
							<div class="media">
								<a href="#" class="media-left"><img src="images/no-image_64x64.jpg" alt=""></a>
								<div class="media-body">
									<h4 class="media-heading">演员的自我修养2</h4>
									作者：斯坦尼斯拉夫斯基<br />
									状态：<span class="label label-warning">1 本可借</span>
								</div>
							</div>
							<div class="media">
								<a href="#" class="media-left"><img src="images/no-image_64x64.jpg" alt=""></a>
								<div class="media-body">
									<h4 class="media-heading">演员的自我修养3</h4>
									作者：斯坦尼斯拉夫斯基<br />
									状态：<span class="label label-danger">已经借完</span>
								</div>
							</div>
							<div class="media">
								<a href="#" class="media-left"><img src="images/no-image_64x64.jpg" alt=""></a>
								<div class="media-body">
									<h4 class="media-heading">演员的自我修养4<small>新书</small></h4>
									作者：斯坦尼斯拉夫斯基<br />
									状态：<span class="label label-default">暂不外借</span>
								</div>
							</div>
							<div class="media">
								<a href="#" class="media-left"><img src="images/no-image_64x64.jpg" alt=""></a>
								<div class="media-body">
									<h4 class="media-heading">演员的自我修养5</h4>
									作者：斯坦尼斯拉夫斯基<br />
									状态：<span class="label label-default">暂不外借</span>
								</div>
							</div>
						</div><!-- /.rb-list -->
					</div><!-- /.panel -->