<%- include header %>
		<!-- middle-content -->
		<div class="container middle-content">
			<div class="row">
				<!-- breadcrumb -->
				<div class="container">
					<ol class="breadcrumb">
						<li><a href="/">主页</a></li>
						<li><a href="/login">登陆</a></li>
						<li class="active">注册</li>
					</ol>
				</div>
				<!-- registration -->
				<div class="container">
					<div class="panel panel-info">
						<div class="panel-heading text-center">注册 - Registration</div>
						<div class="panel-body">
							<!-- registration form -->
							<form class="form-horizontal" role="form" method="post">
								<div class="form-group">
									<label for="inputUsername" class="col-sm-3 control-label">用户名 - Username</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputUsername" placeholder="Username" name="name">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-danger">必填</span> - 此处填入用户名</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-3 control-label">密码 - Password</label>
									<div class="col-sm-4">
										<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-danger">必填</span> - 此处填入密码</div>
								</div>
								<div class="form-group">
									<label for="inputPassword-repeat" class="col-sm-3 control-label">确认密码 - rePassword</label>
									<div class="col-sm-4">
										<input type="password" class="form-control" id="inputPassword-repeat" placeholder="Password-repeat" name="password-repeat">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-danger">必填</span> - 再次输入密码</div>
								</div>
								<hr />
								<div class="form-group">
									<label for="inputEmail" class="col-sm-3 control-label">电子邮箱 - E-mail</label>
									<div class="col-sm-4">
										<input type="email" class="form-control" id="inputEmail" placeholder="E-mail" name="email">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-warning">选填</span> - 此处填入电子邮件</div>
								</div>
								<!--部门和地址还是注释掉
								<div class="form-group" >
									<label for="inputDepartment" class="col-sm-3 control-label">部门 - Department</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputDepartment" placeholder="Department">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-warning">选填</span> - 此处填入部门</div>
								</div>
								<div class="form-group">
									<label for="inputAddress" class="col-sm-3 control-label">地址 - Address</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputAddress" placeholder="Address">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-warning">选填</span> - 此处填入地址</div>
								</div>
								-->
								<div class="form-group">
									<label for="inputQQ" class="col-sm-3 control-label">腾讯即时通讯 - QQ</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputQQ" placeholder="QQ number">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-warning">选填</span> - 此处填入QQ号码</div>
								</div>
								<div class="form-group">
									<label for="inputTelephone" class="col-sm-3 control-label">电话号码 - Telephone</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputTelephone" placeholder="Telephone number">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-warning">选填</span> - 此处填入手机或座机号码</div>
								</div>
								<hr />
								<div class="form-group">
									<label for="inputVerif" class="col-sm-3 control-label">验证码 - Verification</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="inputVerif" placeholder="Verification">
									</div>
									<div class="col-sm-5 help-block"><span class="label label-danger">必填</span> - <img src="images/code_200x30.jpg" alt=""></div>
								</div>
								<% if (error) { %>
									<div class="alert alert-danger alert-dismissible" role="alert">
										<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
										<strong>不好意思！</strong><%= error %>
									</div>
								<% } %>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-4">
										<button type="submit" class="btn btn-success">提交表单 - Submit</button> or <button type="button" class="btn btn-default">重置 - Reset</button>
									</div>
								</div>
							</form><!-- /form -->
							<!-- progress bar -->
							<div class="progress">
								<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
									<span class="sr-only">注册进行中</span>
								</div>
							</div><!-- /.progress -->
						</div><!-- /.panel-body -->
					</div><!-- /.panel -->
				</div><!-- /.container -->
			</div>
		</div><!-- /.middle-content -->
<%- include footer %>