<div content-for="title">
  <span>搜索</span>
</div>


<div class="scrollable">
 <div class="scrollable-content section">
   
   <form action="" id="">

     <div bs-panel title="详细搜索">


       <input
           bs-form-control

           type="text"
           ng-model="search['书名']"
           label="书名"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="输入书名"
           />

       <input
           bs-form-control

           type="text"
           ng-model="search['作者']"
           label="作者"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="按作者查找"
           />
       <input
           bs-form-control

           type="text"
           ng-model="search['全文检索']"
           label="全文检索"
           label-class="col-xs-3 col-sm-2 col-lg-1"
           class="col-xs-9 col-sm-10 col-lg-11"
           placeholder="输入主要关键词"
           />






       

     </div>

   </form>

 </div>
</div>